.about{
    background-color: #0F142C;
    height: 100vh;
    overflow: hidden;
    position: relative;
    &__glow{
        position: absolute;
        content: "";
        z-index: 1;
        filter: blur(360px);
        &--left{
            width: 600px;
            height: 740px;
            background-color: rgba($color: #9ACCD2, $alpha: 0.89);
            top: -20px;
            left: -203px;
            border-radius: 50%;
        }
        &--right{
            width: 675px;
            height: 830px;
            background-color: rgba($color: #DBC798, $alpha: 0.87);
            top: -40%;
            right: -10%;
            border-radius: 50%;
        }
    }
    &__leaves{
        position: absolute;
        background: url('../../../img/leaves.png') no-repeat;
        z-index: 0;
        width: 545px;
        height: 700px;
        filter: saturate(0%);
        mix-blend-mode: exclusion;
        opacity: 0.3;
        &--left{
            top: 0;
            left: 0;
        }
        &--right{
            top: 10%;
            right: 0;
            transform: scaleX(-1) scaleY(-1);
        }
    }
    &__container{
        padding: 75px 20px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        
        .about__title{
            font-family: 'Roboto Condensed';
            font-size: 70px;
            font-weight: 700;
            opacity: 0.9;
            margin-bottom: 20px;
        }
        .about__text{
            max-width: 1200px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: space-between;
            font-size: 22px;
            font-weight: 400;
            color: #A0A3AC;
            text-align: center;
            margin-bottom: 20px;
        }
        .about__button{
            height: 50px;
            width: 190px;
            border: 1px solid #fff;
            border-radius: 30px;
            font-size: 20px;
            text-align: center;
            padding: 16px 0;
            text-decoration: none;
            transition: .3s;
            z-index: 2;
            margin-bottom: 20px;
        &:hover {
            background: rgba(255,255,255,.1);
        }
        }
        .about__achievements{
            display: flex;
            max-width: 880px;
            width: 100%;
            justify-content: space-between;     
            .about__achievement{
                display: flex;
                flex-direction: column;
                font-family: 'Roboto Condensed';
                gap: 8px;
                &-value{
                    font-size: 70px;
                    font-weight: 700;
                    opacity: 0.9;
                    &-blue{
                        color: #69EDFF;
                    }
                    &-yellow{
                        color: #DCD769;
                    }
                }
                &-name{
                    font-size: 20px;
                    font-weight: 400;
                    color: #A0A3AC;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .about{
        &__container{
            padding: 50px 20px 40px;
            .about__title {
                font-size: 50px;
                margin-bottom: 10px;
            }
            .about__text{
                gap: 10px;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .about__button{
                height: 50px;
                width: 170px;
                font-size: 16px;
                margin-bottom: 10px;
            }
            .about__achievements{
                max-width: 500px;
                gap: 5px;
                .about__achievement{
                    gap: 4px;
                    &-value{
                        font-size: 40px;
                    }
                    &-name{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 438px) {
    .about__container .about__text {
        gap: 5px;
        font-size: 14px;
    }
    .about__container .about__achievements .about__achievement-value {
        font-size: 36px;
    }
}