.agent-card{
    width: 415px;
    height: 580px;
    background-color: rgba($color: #FFF, $alpha: 0.1);
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 0 50px 0 rgba($color: #000000, $alpha: 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 18px 23px;
    &__info{
        width: 100%;
        .agent-card__name{
            font-family: 'Roboto Condensed';
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 11px;
            letter-spacing: 2px;
            text-align: center;
        }
        .agent-card__stats{
            display: flex;
            justify-content: space-between;
            margin-bottom: 29px;
            .agent-card__value{
                display: flex;
                flex-direction: column;
                gap: 6px;
                &-name{
                    font-size: 16px;
                    font-weight: 400;
                    color: #A0A3AC;
                }
                &-count{
                    font-size: 25px;
                    font-weight: 400;
                }
            }
        }
        .agent-card__btn{
            width: 380px;
            height: 50px;
            border: 1px solid #FFF;
            border-radius: 30px;
            font-size: 20px;
            font-weight: normal;
            &:hover{
                background-color: rgba(255,255,255,.1);
            }
        }
    }
}

@media (max-width: 1300px) {
    .agent-card{
        width: 335px;
        height: 440px;
        padding: 14px 16px 20px;
        &__img-item{
            height: 265px;
        }
        &__info{
            .agent-card__name{
                font-size: 18px;
                margin-bottom: 10px;
            }
            .agent-card__stats{
                margin-bottom: 20px;
                .agent-card__value{
                    gap: 4px;
                    &-name{
                        font-size: 14px;
                    }
                    &-count{
                        font-size: 22px;
                    }
                }
            }
            .agent-card__btn{
                width: 300px;
                height: 40px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 438px) {
    .agent-card{
        width: 285px;
        .agent-card__btn{
            width: 250px;
        }
    }   
}