.collection{
    background-color: #1D2235;
    height: 1805px;
    position: relative;
    overflow: hidden;
    &__glow{
        position: absolute;
        content: "";
        z-index: 1;
        filter: blur(500px);
        &--left{
            width: 1021px;
            height: 1107px;
            background-color: rgba($color: #DBC798, $alpha: 0.87);
            top: 0;
            left: -45%;
            border-radius: 50%;
        }
        &--right{
            width: 1354px;
            height: 1358px;
            background-color: rgba($color: #9ACCD2, $alpha: 0.89);
            top: 0;
            right: -85%;
            border-radius: 50%;
        }
    }
    &__animal {
        position: absolute;
        bottom: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        z-index: 1;

        &--left {
            width: 706px;
            left: 0%;
            background-image: url("../../../img/жирафБ.png");
        }

        &--right {
            width: 800px;
            right: 0;
            background-image: url("../../../img/волкБ.png");
        }
    }
    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        position: relative;
        padding: 120px 20px 200px;
        justify-content: space-between;
        .collection__title{
            font-family: 'Roboto Condensed';
            font-size: 70px;
            font-weight: 700;
            opacity: 0.9;
            margin-bottom: 20px;
        }
        .collection__desc{
            max-width: 815px;
            font-size: 25px;
            font-weight: 400;
            color: #A0A3AC;
            margin-bottom: 20px;
            -webkit-text-stroke: 1px rgba($color: #fff, $alpha: 0.3);
        }
        .collection__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 11px 24px;
            height: 1175px;
        }
    }
}

@media (max-width: 1300px) {
    .collection__container .collection__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 16px;
    }
}