.create{
    background-color: #212637;
    overflow: hidden;
    position: relative;
    height: 840px;
    &__glow{
        position: absolute;
        content: "";
        z-index: 1;
        filter: blur(2000px);
        width: 1263px;
        height: 1106px;
        background-color: rgba($color: #9ACCD2, $alpha: 0.89);
        bottom: -80%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    }
    &__animal{
        position: absolute;
        bottom: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        z-index: 1;
        background-image: url(../img/frankenstein.png);
        left: 80%;
        transform: translateX(-50%);
        width: 1250px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        padding: 150px 0 180px;
        position: relative;
        z-index: 2;
        height: 100%;
        justify-content: space-between;
        margin-left: 10%;
        .create__title{
            font-family: 'Roboto Condensed';
            font-size: 90px;
            font-weight: 700;
            opacity: 0.9;
            max-width: 520px;
            line-height: 110%;
        }
        .create__description{
            max-width: 600px;
            font-size: 22px;
            font-weight: 400;
            color: #A0A3AC;
            -webkit-text-stroke: 1px rgba($color: #000, $alpha: 0.3);
        }
        .create__button{
            width: 350px;
            height: 92px;
            text-align: center;
            padding: 30px 10px;
            font-size: 25px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba($color: #fff, $alpha: 0.30);
            backdrop-filter: blur(20px);   
            box-shadow: 0px 0px 53px 0px rgba(171, 154, 210, 0.5);    
            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(30px);   
            }
        }
    }
}

@media (max-width: 768px) {
    .create__container{
        padding: 120px 20px 150px;
        margin: 0;
        .create__title{
            font-size: 70px;
            margin: 0 auto;
            text-align: center;
        }
        .create__description{
            font-size: 20px;
            margin: 0 auto;
        }
        .create__button{
            width: 300px;
            height: 82px;
            font-size: 22px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 438px) {
    .create__container{
        padding: 120px 15px 150px;
        .create__title{
            font-size: 50px;
        }
        .create__description{
            font-size: 18px;
        }
        .create__button{
            width: 260px;
            height: 72px;
            font-size: 20px;
            padding: 25px 10px;
        }
    }
}