.header{
    background-color: #151B36;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        .header__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            .header__logo{
                font-family: 'Roboto Condensed';
                font-size: 30px;
                font-weight: 700;        
            }
        }
        &__button_wallet{ 
            text-align: center;
            font-size: 20px;
            line-height: 100%;
            min-width: 280px;
            padding: 16px;
            border: 1px solid #fff;
            border-radius: 30px;
            &:hover{
                background: rgba(255,255,255,.1);
            }
        }
}
.header__group{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.navigation{
    margin: 0 10px;
    &__button{
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: none;
        & span{
            height: 2px;
            background-color: #fff;
            width: 100%;
        }
    }
    &__list{
        display: flex;
        gap: 80px;
        
    }
    &__link{
        font-size: 20px; //to do hover
    }
}

@media (max-width: 1360px) {
    .header .header__container .header__logo{
        font-size: 22px;
    }
    .navigation__list{
        gap: 60px;
    }
    .navigation__link {
        font-size: 16px;
    }
    .header__button_wallet {
        font-size: 16px;
        min-width: 200px;
    }
}

@media(max-width: 860px){
    .header{
        height: 80px;
    }
    .header__group {
        justify-content: end;
        width: 66%;
        gap: 20px;
    }
    .navigation{
        order: 1;
    }
    .navigation__button{
        display: flex;
        position: relative;
        z-index: 7;
    }
    .navigation__list{
        position: absolute;
        background-color: #151515;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 200px;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform .3s ease;
        z-index: 6;
    }
    .navigation__list.navigation__list--active{
        transform: translateY(0%);
    }
}

@media(max-width: 438px){
    .header{
        height: 60px;
        .header__container{
            padding: 10px;
            .header__logo{
                font-size: 18px;
            }
        }
        &__button_wallet{
            font-size: 10px;
            min-width: 90px;
            padding: 14px 16px;
        }
    }
    .header__group{
        width: 60%;
    }
    .navigation{
        margin: 0 10px;
    }
}
