.top{
    max-width: 100%;
    background-color: #161C38;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 434px;
        height: 434px;
        background: rgba(154, 204, 210, 0.89);
        top: 208px;
        left: 398px;
        filter: blur(260px);
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        width: 538px;
        height: 538px;
        background: rgba(219, 199, 152, 0.87);
        top: -236px;
        left: 948px;
        filter: blur(320px);
        z-index: 1;
    }
    .top__container{
        width: 100%;
        height: 100%;
        position: relative;
        .top__background{
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            z-index: 0;
            pointer-events: none;
            align-items: center;
            gap: 158px;
            &-item{
                font-size: 202px;
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
                letter-spacing: 5px;
                filter: blur(2px);
                line-height: 155px;
                opacity: 0.5;
            }
            &-item-opacity{
                opacity: 0.25;
            }
        }
        .top__content{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(143%);
            width: 100%;
            z-index: 2;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            .title{
                position: relative;
                font-size: 202px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 5px;
                opacity: 0.90;
                text-shadow: 0 0 25px rgba(0,0,0,0.35);
            }
        }
        .agents{
            position: relative;
            width: 100%;
            height: 876px;
            pointer-events: none;
            margin-top: 48px;
            display: flex;
            align-items: flex-end;
            .agent {
                position: absolute;
                &--giraffe {
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 600px;
                    z-index: 5;
                }
                &--wolf {
                    left: 54%;
                    width: 600px;
                    z-index: 4;
                    filter: blur(2px);
                }
                &--goat {
                    right: 50%;
                    width: 606px;
                    z-index: 4;
                    filter: blur(4px);
                }
                &--bear {
                    right: 63%;
                    width: 492px;
                    filter: blur(6px);
                    opacity: 0.93;
                    z-index: 3;
                }
            }
        }
    }
}


.top__actions{
    display: none;
}