.top{
    max-width: 100%;
    background-color: #161C38;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 434px;
        height: 434px;
        background: rgba(154, 204, 210, 0.89);
        top: 208px;
        left: 398px;
        filter: blur(260px);
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        width: 538px;
        height: 538px;
        background: rgba(219, 199, 152, 0.87);
        top: -236px;
        left: 948px;
        filter: blur(320px);
        z-index: 1;
    }
    .top__container{
        width: 100%;
        height: 100%;
        position: relative;
        .top__background{
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            z-index: 0;
            pointer-events: none;
            align-items: center;
            gap: 158px;
            &-item{
                font-family: 'Roboto Condensed';
                font-size: 202px;
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
                letter-spacing: 5px;
                filter: blur(2px);
                line-height: 155px;
                opacity: 0.5;
            }
            &-item-opacity{
                opacity: 0.25;
            }
        }
        .top__content{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(143%);
            width: 100%;
            z-index: 2;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            .title{
                font-family: 'Roboto Condensed';
                position: relative;
                font-size: 202px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 5px;
                opacity: 0.90;
                text-shadow: 0 0 25px rgba(0,0,0,0.35);
            }
        }
        .agents{
            position: relative;
            width: 100%;
            height: 876px;
            pointer-events: none;
            margin-top: 48px;
            display: flex;
            align-items: flex-end;
            .agent {
                position: absolute;
                &--giraffe {
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 600px;
                    z-index: 5;
                }
                &--wolf {
                    left: 54%;
                    width: 600px;
                    z-index: 4;
                    filter: blur(2px);
                }
                &--goat {
                    right: 50%;
                    width: 606px;
                    z-index: 4;
                    filter: blur(4px);
                }
                &--bear {
                    right: 63%;
                    width: 492px;
                    filter: blur(6px);
                    opacity: 0.93;
                    z-index: 3;
                }
            }
        }
        .top__actions{
            position: absolute;
            bottom: 85px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 6;
            .btn-cya{
                width: 310px;
                height: 92px;
                font-size: 25px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid rgba($color: #fff, $alpha: 0.30);
                backdrop-filter: blur(20px);   
                box-shadow: 0px 0px 53px 0px rgba(171, 154, 210, 0.5);    
            }
        }
    }
}

@media (max-width: 1360px) {
    .top .top__container .agents .agent--bear {
        display: none;
    }
    .top .top__container .top__background .top__background-item {
        letter-spacing: 0;
    }
    .top .top__container .top__content .title {
        letter-spacing: 0px;
    }
}

@media (max-width: 860px) {
    .top .top__container {
        .top__background {
            gap: 102px;
            .top__background-item {
                font-size: 132px;
                line-height: 102px;
            }
        }
        .top__content .title {
            font-size: 132px;
        }
        .agents{
            height: 693px;
            margin-top: 10px;
            .agent--giraffe {
                width: 485px;
            }
            .agent--wolf {
                width: 485px;
            }
            .agent--goat {
                width: 550px;
            }
        }
        .top__actions {
            bottom: 55px;
            .btn-cya {
                width: 280px;
                height: 82px;
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 438px) {
    .top .top__container {
        .top__background {
            gap: 60px;
            .top__background-item {
                font-size: 70px;
                line-height: 62px;
            }
        }
        .top__content {
            transform: translateY(170%);
            .title {
                font-size: 70px;
            }
        }
        .agents{
            height: 496px;
            margin-top: 5px;
            .agent--giraffe {
                width: 350px;
            }
            .agent--wolf {
                width: 350px;
            }
            .agent--goat {
                width: 355px;
            }
        }
        .top__actions {
            bottom: 30px;
            .btn-cya {
                width: 210px;
                height: 50px;
                font-size: 18px;
            }
        }
    }
}